<div class="newpassword">
  {{#if error}}
  <p class="alert">{{error}}</p>
  {{/if }}
  <h1>New password</h1>
  <form class="col s12" method="POST" action="/auth/password">
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" name="password" required>
        <label for="password">Password</label>
        <span class="helper-text" data-error="Set password"></span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="confirm" type="password" class="validate" name="confirm" required>
        <label for="confirm">Repeat password</label>
        <span class="helper-text" data-error="Set password"></span>
      </div>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="token" value="{{token}}">

    <button class="btn" type="submit">Update password</button>
  </form>
</div>