<div class="reset">
  {{#if error}}
  <p class="alert">{{error}}</p>
  {{/if }}
  <h1>Reset password</h1>
  <form class="col s12" method="POST" action="/auth/reset">
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" class="validate" name="email" required>
        <label for="email">Email</label>
        <span class="helper-text" data-error="Set email"></span>
      </div>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn" type="submit">Reset</button>
    <a href="/auth/login#login">Login</a>
  </form>
</div>