<h1>Edit book</h1>
<form class="col s12" method="POST" action="">
  <div class="row">
    <div class="input-field col s6">
      <input id="title" type="text" class="validate" name="title" value="{{book.title}}" required>
      <label for="title">Book Title</label>
      <span class="helper-text" data-error="Set title"></span>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="price" type="text" class="validate" name="price" value="{{book.price}}" required>
      <label for="price">Price</label>
      <span class="helper-text" data-error="Set price"></span>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="img" type="text" class="validate" name="img" value="{{book.img}}" required>
      <label for="img">Cover url</label>
      <span class="helper-text" data-error="Set image url"></span>
    </div>
  </div>
  <button class="btn" type="submit">Save</button>
</form>

<br>

<form method="POST" action="/books/remove">
  <input type="hidden" name="id" value="{{book._id}}">
  <button class="btn red" type="submit">Remove</button>
</form>