 .nav-wrapper {
     padding: 0 2rem;
 }
 
 .price {
     font-size: 2rem;
 }
 
 .book img {
     width: 100%;
     max-width: 400px;
 }
 
 #cart .card-image {
     width: 40px;
 }
 
 #cart .card-image img {
     width: 100%;
     height: auto;
 }
 
 .auth {
     padding: 50px 0;
 }